<template name="eventItem">
    <div class="band">
       <div class="band-content">
           <h1>{{ eventTitle }} <span style="float:right"><a href="/getPDF">PDF</a></span></h1>
           <h3><a href="/bands/{{ eventBandName }}">{{ eventBandName }}</a>at
             <a href="{{pathFor 'venuePage'}}">{{ eventVenueName }}</a>
             {{#if currentUser}} <span><a href="{{pathFor 'eventEdit'}}">Edit Event Info</a></span> {{/if}}
           </h3>
           <div class="show-times">
               From: {{ formatStartTime eventStartTime "long" }} Until
               {{ formatStopTime eventStopTime "short" }}</div>
           <div class="show-notes">Show Notes: {{ showNotes }}</div>
           <div class="sponsor">Sponsored By: {{ showSponsor }}</div>
       </div>
     </div>
</template>
